name: Run Tests

on:
  pull_request:
    branches:
      - main

jobs:
  # Test on code-dot-org Ruby version
  test_3_1_7:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1.7
          bundler-cache: true

      - name: Install gems
        run: bundle install

      - name: Run tests
        run: bundle exec rake test

  #Test on latest Ruby
  test_3_3:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.3
          bundler-cache: true
      
      - name: Install gems
        run: bundle install

      - name: Run tests
        run: bundle exec rake test
